<!DOCTYPE html>
<html data-bs-theme="light" lang="en" style="height: 1244px;background: rgb(11,15,25);overflow: visible;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - Advertisemement</title>
    <meta name="" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="1024x1024" href="/assets/img/logo-01.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/FontAwesome.css">
    <link rel="stylesheet" href="/assets/css/css/dashboard.css">
    <link rel="stylesheet" href="/assets/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/video.js@7/dist/video-js.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@videojs/themes@1/dist/city/index.css">
    <link rel="stylesheet" href="/assets/css/bootstrap/css/bootstrap.min-1.css">
    <link rel="stylesheet" href="/assets/css/css/codebook.css">
<link
  href="https://unpkg.com/video.js@7/dist/video-js.min.css"
  rel="stylesheet"
/>

<link
  href="https://unpkg.com/@videojs/themes@1/dist/city/index.css"
  rel="stylesheet"
/>
</head>

<body id="page-top" style="background: rgb(11,15,25);backdrop-filter: opacity(1) brightness(100%);overflow: hidden;height: auto;">
    <div id="homeContainer" class="d-flex align-items-center justify-content-center embed-responsive embed-responsive-16by9" style="height: 849px;margin-bottom: 158px;color: rgb(11,15,25);">
        <div class="col-xxl-9 col-12" style="width: 50%;background: rgba(18,18,20,0);padding: 12px;border-radius: 15px;padding-bottom: 44px;border: 0.5px solid var(--bs-body-bg);height: 100%;margin-top: 137px;">
            <div class="ratio ratio-16x9 d-xxl-flex align-items-xxl-center" style="height: inherit;width: 100%;"><iframe src="https://docs.google.com/document/d/e/2PACX-1vQy3_SFIJK7cKlQOPTa_B166QwmvXCEoqXVQQ7KyacHraOx8hYpg9I-UroHAktybZ1JVfJjdmzh13Nf/pub?embedded=true" allowfullscreen=""></iframe></div>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/js/autoplay.js"></script>
    <script src="/assets/js/js/dashboard.js"></script>
    <script src="https://vjs.zencdn.net/8.10.0/video.min.js" type="module"></script>
    <script src="/assets/js/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/js/bs-init.js"></script>
    <script src="/assets/js/js/selection_restrict.js"></script>
</body>

</html>