<!DOCTYPE html>
<html data-bs-theme="light" lang="en" style="height: 1244px;background: rgb(11,15,25);">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - Advertisemement</title>
    <meta name="" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="1024x1024" href="/assets/img/logo-01.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/FontAwesome.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/css/dashboard.css">
    <link rel="stylesheet" href="/assets/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/video.js@7/dist/video-js.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@videojs/themes@1/dist/city/index.css">
    <link rel="stylesheet" href="/assets/css/bootstrap/css/bootstrap.min-1.css">
    <link rel="stylesheet" href="/assets/css/css/codebook.css">
<link
  href="https://unpkg.com/video.js@7/dist/video-js.min.css"
  rel="stylesheet"
/>

<link
  href="https://unpkg.com/@videojs/themes@1/dist/city/index.css"
  rel="stylesheet"
/>
</head>

<body id="page-top" style="background: rgb(11,15,25);backdrop-filter: opacity(1) brightness(100%);overflow: hidden;height: auto;">
    <div id="homeContainer" class="d-flex align-items-center justify-content-center" style="height: 849px;margin-bottom: 158px;color: rgb(11,15,25);">
        <div class="col-xxl-9 col-12" style="width: 1145px;background: rgba(18,18,20,0);padding: 12px;border-radius: 15px;padding-bottom: 44px;border: 0.5px solid var(--bs-body-bg) ;">
            <div class="container align-items-center" style="position: relative;display: block;overflow: hidden;">
                <h1 class="text-center p-3 fs-1" style="font-size: 70px;color: var(--bs-secondary-bg);font-family: arial;text-shadow: 5px 5px 7px var(--bs-body-color);">Advertisemement</h1>
                <h1 class="p-3 fs-3" style="text-align: center;color: var(--bs-secondary-bg);font-family: arial;text-shadow: 4px 4px 9px var(--bs-emphasis-color);margin-top: 22px;">coding dashboard for The Advertisemement project.</h1>
            </div>
            <div class="container">
                <div class="d-grid gap-2" style="margin-top: 17px;">
                    <div class="row">
                        <div class="col d-grid" style="height: 100%;">
                            <div>
                                <form id="login" method="post">{{ form.csrf_token }}<input class="form-control login" type="text" id="username" style="height: 47px;" placeholder="Coder name" name="username">
                                    <div class="col d-grid" style="margin-top: 17px;"><button class="btn btn-primary border rounded" data-bss-hover-animate="pulse" id="submit" type="submit" style="background: var(--bs-form-valid-border-color);border-style: solid;border-color: rgb(75,255,12);font-size: 22px;font-family: arial;font-weight: bold;" name="submit">Coder Login</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/js/autoplay.js"></script>
    <script src="/assets/js/js/dashboard.js"></script>
    <script src="https://vjs.zencdn.net/8.10.0/video.min.js" type="module"></script>
    <script src="/assets/js/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/js/bs-init.js"></script>
    <script src="/assets/js/js/form_dashboard.js"></script>
</body>

</html>